.todo {
  display: flex;
  align-items: center;
  /* justify-items: center; */

  color: rgba(20, 20, 20, .6);

  /* width: 25em; */
  
  border-bottom: var(--default-border);
  margin-right: 0;
  padding: .5em 1em;

  --default-border: 1px solid rgba(200, 200, 200, .2);
  --light-gray: rgba(180, 180, 180, .6);
}

.todo:first-child {
  border-top: var(--default-border);
}

.done .text {
  text-decoration: line-through;
  color: var(--light-gray);
}

.done .delete {
  color: var(--light-gray);
}

.delete {
  color: var(--light-gray);
  background-color: rgba(255, 255, 255, 0);
  opacity: 0;
  width: 1em;
  border: none;

  /* font-weight: bold; */
  font-size: 1.5em;
  padding: 0;

  transition: .2s ease;

  cursor: pointer;
}

.todo:hover > .delete {
  opacity: 1;
}

.text {
  flex-grow: 2;
}

.done-check {
  margin-right: 1em;
}